body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #004d40;
    color: white;
    padding: 20px;
}

.tabs {
    list-style: none;
    padding: 0;
}

.tab {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #d4af37;
    color: white;
    margin: 0 5px;
    border-radius: 5px;
}

.tab.active {
    background-color: #004d40;
}

.tab-section {
    display: none;
    margin-top: 20px;
}

.tab-section.active {
    display: block;
}

ul {
    padding: 0;
    list-style: none;
}
